:root {
  --black-color: #000;
  --white-color: #ffffff;
  --header-color: #222;
  --text-color: #555;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.waper {
  max-width: 1386px;
  padding: 0 46px;
  margin: 0 auto;
}

.hiden-on-click {
  display: none !important;
}
.mt-64 {
  margin-top: 64px;
}
.mt-42 {
  margin-top: 42px;
}

.mb-6 {
  margin-bottom: 6px;
}
.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.title h2 {
  margin: 0;
  font-size: 2.4rem;
  color: var(--header-color);
  line-height: 30px;
}

.title p {
  font-size: 1.6rem;
  color: var(--text-color);
  line-height: 24px;
  margin-top: 8px;
}
.btn-slide {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
}
.btn-slide i {
  font-size: 1.4rem;
  color: var(--header-color);
}
.btn-slide:hover {
  border: 1px solid #f65e39;
  cursor: pointer;
}
.btn-slide:hover i {
  color: #f65e39;
}
.btn-slide.disable {
  opacity: 0.6;
  cursor: pointer;
  pointer-events: none;
}
.btn-slide.disable:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.btn-slide.disable:hover i {
  color: var(--header-color);
}
.btn-prev {
  position: absolute;
  top: 43%;
  left: -21px;
  z-index: 1;
}
.btn-next {
  position: absolute;
  top: 43%;
  right: -21px;
  z-index: 1;
}

@keyframes slidein {
  from {
    top: 250%;
    opacity: 0;
  }
  to {
    top: 124%;
    opacity: 1;
  }
}
